@use "./base/base";
@use "./base/reset";
@use "./global" as *;

//------------------------------
// #region ヘッダー

.header__inner {
    display: flex;
    justify-content: flex-end;
}

.header__logo {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
}

.header__img {
    width: 258px;
    @include mq("lg") {
        width: 186px;
    }
    @include mq("md") {
        width: 114px;
    }
}

.header__nav {
    display: flex;
    align-items: center;

    height: $header-height;
}

.header__items {
    display: flex;
    align-items: center;

    height: inherit;
}

.header__item {
    height: inherit;
}

.header__item:not(:first-child) {
    margin-left: 50px;
    @include mq("lg") {
        margin-left: 25px;
    }
}

.header__link {
    font-family: $third-font;
    font-weight: $medium;
    color: $black;

    display: flex;
    align-items: center;
    height: inherit;
}

.header__link--contact {
    color: $white;
    background-color: $navy;
    padding: 0 40px;
    @include mq("lg") {
        padding: 0 30px;
    }
}

.header__link--contact i {
    margin-right: 14px;
    font-size: 22px;
}

// #endregion


//------------------------------
// #region ハンバーガー

.hamburger {
    position: fixed;
    z-index: 9999;
    top: 33px;
    right: 30px;
    width: 25px;
    height: 14px;
    cursor: pointer;
}

.hamburger.is-active  {
    top: 29px;
    right: 26px;
    width: 30px;
    height: 22px;
}

.hamburger span {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: $black02;
    transition: 0.3s transform, 0.3s background-color;
}

.hamburger span:nth-child(1) {
    top: 0;
}

.hamburger span:nth-child(2) {
    top: 7px;
    transition: 0.3s opacity;
}

.hamburger span:nth-child(3) {
    top: 14px;
    width: 68%;
}

.hamburger.is-active span {
    background-color: $gray;
}

.hamburger.is-active span:nth-child(1) {
    top: 10px;
    transform: rotate(-45deg);
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
    top: 10px;
    transform: rotate(45deg);
    width: 100%;
}

// #endregion


//------------------------------
// #region ドロワー

.drawer-menu {
    position: absolute;
    z-index: 5000;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: $navy03;
}

.drawer-menu__img {
    position: absolute;
    z-index: 5001;
    top: 0;
    left: 0;
    width: 114px;
}

.drawer-menu__inner {
    max-width: 1000px;
    margin-inline: auto;
    padding: 0 50px;
}

.drawer-menu__items {
    margin-top: 160px;  //★仮
    display: flex;
    flex-direction: column;
}

.drawer-menu__item:not(:first-child) {
    margin-top: 7px;
}

.drawer-menu__item:nth-child(1) {
    padding-top: 7px;
    border-top: 1px solid $navy;
}

.drawer-menu__link {
    font-family: $third-font;
    font-size: 14px;
    color: $white;

    padding-bottom: 7px;
    border-bottom: 1px solid $navy;

    display: inline-block;
    width: 100%;
}

.drawer-menu__icons {
    margin-top: 50px;
    display: flex;
}

.drawer-menu__icon:not(:first-child) {
    margin-left: 20px;
}

.drawer-menu__icon i {
    color: $white;
    font-size: 22px;
}

/*丸の拡大*/
.circle-bg{
    position: fixed;
    z-index:4000;
    /*丸の形*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: $navy03;
    /*丸のスタート位置と形状*/
    transform: scale(0);/*scaleをはじめは0に*/
    right:-50px;
    bottom:-50px;
    transition: all .6s;/*0.6秒かけてアニメーション*/
}

.circle-bg.circleactive{
    transform: scale(50);/*クラスが付与されたらscaleを拡大*/
}

// #endregion


//------------------------------
// #region TOP MV

.mv {
    width: 100%;
    height: calc(100vh - $header-height);

    @include mq("md") {
        height: 100vh;
    }
}

.mv__inner {
    padding: 0 80px;
    height: inherit;

    display: flex;
    @include mq("md") {
        flex-direction: column;
        padding: 0 10px;
    }
}

.swiper {
    margin-left: 0;
    margin-right: 0;
}

.mv__slider,
.swiper-slide1 picture,
.swiper-slide1 img {
    height: inherit;
}

.swiper-slide1 img {
    object-fit: cover;
    padding-bottom: 60px;
    @include mq("md") {
        padding-bottom: 0;
    }
}

.mv__catch {
    writing-mode: vertical-rl;

    font-weight: $bold;
    font-size: 60px;
    line-height: 130%;
    letter-spacing: 0.1em;
    color: $black;

    padding-top: 114px;
    padding-left: 100px;

    @include mq("md") {
        writing-mode: initial;

        font-size: 34px;
        line-height: 1.3;
        letter-spacing: normal;

        padding-top: 20px;
        padding-left: 10px;
        padding-bottom: 30px;
    }
}

// #endregion


//------------------------------
// #region TOP 流れる文字

.flow__catch {
    margin: 20px auto;
    width: 100%;
    overflow: hidden;
    @include mq("md") {
        margin: 0 auto;//調整
    }
}

.flow__text {
    font-weight: $bold;
    font-size: 150px;
    color: $navy;

    display: inline-block;
    padding-left: 100%;
    white-space: nowrap;

    animation: FlowText 15s linear infinite;

    @include mq("md") {
        font-size: 84px;
    }
}

@keyframes FlowText {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-100%)
    }
}

// #endregion


//------------------------------
// #region TOP About us

.about {
    margin-top: 60px;
    @include mq("md") {
        margin-top: 20px;
    }
}

.about__inner {
    display: flex;
    align-items: flex-start;
    @include mq("md") {
        flex-direction: column;
    }
}

.about__img {
    width: 50%;
    // aspect-ratio: 550/480;   //後ろのセクション追加したらレイアウトシフト起こるかテストして起これば有効にする
    @include mq("md") {
        width: 1000%;
    }
}

.about__wrap {
    margin-left: 60px;
    @include mq("md") {
        margin-left: 0;
    }
}

.about__title {
    margin-top: 70px;
    font-family: $second-font;
    font-weight: $bold;
    font-size: 14px;
    color: $black;
    @include mq("md") {
        margin-top: 30px;
    }
}

.about__text {
    margin-top: 40px;
    line-height: 2.375;
    color: $black;
    @include mq("md") {
        margin-top: 30px;
    }
}

.about__more-wrap {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}

// #endregion


//------------------------------
// #region TOP Service

.service {
    margin: 120px 0;
    overflow: hidden;
    @include mq("md") {
        margin: 80px 0;
    }
}

.service__title {
    text-align: right;
    transition: 1s ease;
    @include mq("md") {
        text-align: left;
    }
}

.service__list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    column-gap: 18px;
    row-gap: 50px;
    @include mq("md") {
        margin-top: 20px;
    }
}

.service__card-img-wrap {
    position: relative;
}

.service__card-img {
    aspect-ratio: 355/170;
}

.service__card-title-wrap {
    position: absolute;
    top: 50px;
    left: 30px;
}

.service__card-title1 {
    font-family: $second-font;
    font-weight: $bold;
    color: $white;
}

.service__card-title2 {
    margin-top: 10px;
    font-weight: $bold;
    font-size: 26px;
    color: $white;
}

.service__card-text {
    margin: 20px 20px 0 0;
    line-height: 2.375;
    color: $black;
    @include mq("md") {
        margin-right: 0;
        font-size: 14px;
        line-height: 2.285;
    }
}

.service__card-button-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.service__card-button {
    font-family: $third-font;
    font-weight: $medium;
    font-size: 14px;
    color: $navy;

    border: 1px solid $navy;
    border-radius: 4px;

    padding: 14px 39px 14px 24px;

    margin-top: 20px;
    margin-right: 20px;

    position: relative;

    @include mq("md") {
        margin-right: 0;
    }
}

.service__card-button::after {
    position: absolute;
    top: 50%;
    right: 24px;
    width: 6px;
    height: 6px;
    content: "";
    transform: rotate(45deg) translateY(-100%);
    border-top: 1px solid $navy;
    border-right: 1px solid $navy;
}

// #endregion


//------------------------------
// #region TOP Works

.works {
    padding-top: 123px;
    background-color: $bg;
    @include mq("md") {
        padding: 60px 0 0;
    }
}

.works__title {
    transition: 1s ease;
    @include mq("md") {
    }
}

.works__list {
    margin-top: 37px;
    display: flex;
    flex-direction: column;
    @include mq("md") {
        margin-top: 20px;
    }
}

.works__card {
    background-color: $white;
    padding: 50px 40px 0;
    @include mq("md") {
        padding: 30px 40px 0;
    }
}

.works__card-inner {
    display: flex;
    align-items: flex-start;
    padding-bottom: 50px;
    border-bottom: 1px solid $gray03;
    opacity: 0;
    transition: 1s ease;
    @include mq("md") {
        padding-bottom: 30px;
    }
}

.works__img {
    width: 28.4%;
    height: auto;
    aspect-ratio: 290/229;

    @include mq("md") {
        width: 40.7%;
    }
}

.works__card-body {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    @include mq("md") {
        margin-left: 18px;
    }
}

.works__card-title {
    margin-top: 30px;

    font-weight: $medium;
    font-size: 24px;
    color: $black;

    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;

    @include mq("md") {
        margin-top: 12px;
        font-size: 14px;
        line-height: 2;

        -webkit-line-clamp: 3;
    }
}

.works__card-title:hover {
    opacity: 1;
    cursor: pointer;
}

.works__card-title-wrap {
    width: 87.9%;
    position: relative;
    @include mq("md") {
        width: 100%;
    }
}

.works__card-title-wrap::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: $black;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}

.works__card-title-wrap:hover::after {
    transform: scale(1, 1);
}

.works__card-text {
    margin-top: 30px;

    line-height: 2.375;
    color: $tag-text;

    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.works__card-date {
    margin-top: 17px;

    font-weight: $bold;
    font-size: 12px;
    color: $gray02;

    @include mq("md") {
        margin-top: 12px;
        font-size: 10px;
    }
}

.works__more-wrap {
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
    background-color: $white;

    display: flex;
    justify-content: flex-end;

    @include mq("md") {
        padding-bottom: 80px;
    }
}

// #endregion


//------------------------------
// #region TOP News

.news {
    background-color: $bg;
    padding: 120px 0;
    @include mq("md") {
        padding: 80px 0 72px;
    }
}

.news.news--back-white {
    background-color: $white;
}

.news__inner {
    display: flex;
    @include mq("md") {
        flex-direction: column;
    }
}

.news__left {
    padding-right: 90px;
    @include mq("md") {
        border-right: none;
        padding-right: 0;
    }
}

.news__title {
    transition: 1s ease;
    @include mq("md") {
    }
}

.news__nav-upper-margin {
    margin-top: 45px;
    @include mq("md") {
        margin-top: 40px;
    }
}

.news__nav {
    @include mq("md") {
        margin: 0 20px;
        padding-bottom: 40px;
        border-bottom: 1px solid $gray03;
    }
}

.news__categories {
    @include mq("md") {
        display: flex;
        flex-wrap: wrap;
        row-gap: 15px;
        column-gap: 15px;
    }
}

.news__category:not(:first-child) {
    margin-top: 20px;
    @include mq("md") {
        margin-top: 0;
    }
}

.news__tab-button {
    font-weight: $medium;
    font-size: 14px;
    color: $gray02;
    padding-left: 14px;
    text-wrap: nowrap;

    opacity: 0;
    transition: 1s ease;

    position: relative;
}

.news__tab-button.is-tab-active {
    color: $black;
}

.news__tab-button.is-tab-active::before {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 8px;
    height: 8px;
    content: "";
    transform: translateY(-50%);
    background-color: $navy02;
}

.tab {
    display: flex;
    flex-direction: column;
}


// 右側

.news__right {
    border-left: 1px solid $gray03;
    padding-left: 60px;
    width: 100%;
    @include mq("md") {
        margin-left: 0;
        padding-left: 20px;
        padding-right: 20px;
        border-left: initial;
    }
}

.news__right.news__right--non-left-border {
    border-left: initial;
}

.news__content {
    display: none;
}

.news__content.is-tab-active {
    display: block;
}

.news__list {
    @include mq("md") {
        margin-top: 30px;
    }
}

.news__item {
    padding-bottom: 30px;
    border-bottom: 1px solid $gray03;

    opacity: 0;
    transition: 1s ease;
    @include mq("md") {
        padding-bottom: 20px;
    }
}

.news__item:not(:first-child) {
    margin-top: 30px;
    @include mq("md") {
        margin-top: 20px;
    }
}

.news__item-header {
    display: flex;
    align-items: center;
}

.news__text-wrapper {
    width: 100%;    // 追加
}

.news__information {
    display: flex;
    align-items: baseline;
}

.news__date {
    font-weight: $bold;
    font-size: 12px;
    color: $gray02;
    @include mq("md") {
        font-size: 10px;
    }
}

.news__tag-list-wrapper {
    margin-left: 29px;
    @include mq("md") {
        margin-left: 12px;
    }
}

.news__tag-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
    @include mq("md") {
        column-gap: 6px;
        row-gap: 6px;
    }
}

.news__link-text {
    margin-top: 26px;
    font-weight: $medium;
    color: $black;
    @include mq("md") {
        font-size: 14px;
        line-height: 1.643;
    }
}

.news__link-text:hover {
    opacity: 1;
    cursor: pointer;
}

.news__link {
    display: inline-block;
    // margin-top: 26px;

    // width: 100%;    // 追加
    max-width: 100%;    // width 100%から変更

    // display: -webkit-box;
    // overflow: hidden;
    // -webkit-box-orient: vertical;
    // -webkit-line-clamp: 1;


    // font-weight: $medium;
    // color: $black;

    position: relative;

    // @include mq("md") {
    //     font-size: 14px;
    //     line-height: 1.643;
    // }
}

// .news__link:hover {
//     opacity: 1;
//     cursor: pointer;
// }

.news__link::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: $black;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}

// .news__link:hover::after {
//     transform: scale(1, 1);
// }

.news__more-wrap {

    padding-top: 40px;
    background-color: $bg;

    display: flex;
    justify-content: flex-end;

    @include mq("md") {
        padding-top: 45px;
    }
}

// #endregion

//------------------------------
// #region TOPのNewsコンテンツ コンテナ 追従しない

.news__container-top {
    display: flex;
    width: 100%;
}

// #endregion

//------------------------------
// #region スクロールにメニューを追従

.news__container {
    position: relative;
    padding-left: 264px;
    width: 100%;
    @include mq("md") {
        position: initial;
        padding: 0;
    }
}

$offsetY:20px;

.aside{
    // width: 150px; /* サイドメニューの幅 */
    // padding-bottom: 40px;
    position: absolute;
    left: 0;
    // left: 25px;
    top: 0;
    // max-height: calc(100vh - 20px); /* offsetY分をマイナス */
    max-height: calc(100vh - #{$offsetY});
    overflow: auto;
    @include mq("md") {
        position: initial;
        left: initial;
        top: initial;
    }
}

.aside.is-fixed{
    position: fixed;
    top: $offsetY;
    @include mq("md") {
        position: initial;
        top: initial;
    }
}

.aside.is-fixed.is-end{
    position: absolute;
    top: auto;
    bottom: 0;
    @include mq("md") {
        position: initial;
        top: initial;
        bottom: initial;
    }
}

// #endregion


//------------------------------
// #region Footer1

.footer1 {
    display: flex;
    @include mq("md") {
        flex-direction: column;
        flex-direction: column-reverse;
    }
}

.footer1__img {
    object-fit: cover;
    width: 56.9%;
    aspect-ratio: 820/446;
    @include mq("md") {
        width: 100%;
    }
}

.footer1__contact {
    background-color: $navy;
    padding: 81px 0 82px;
    width: 100%;

    display: flex;
    flex-direction: column;

    @include mq("md") {
        padding: 80px 0;
    }
}

.footer1__inner {
    max-width: 300px;
    margin-inline: auto;
    padding: 0 10px 0 15px;
    @include mq("md") {
        padding: 0;
        max-width: 227px;
    }
}

.footer1__text1 {
    font-size: 18px;
    line-height: 1.667;
    color: $white;
    @include mq("md") {
        font-size: 14px;
        line-height: 2;
    }
}

.footer1__contact-button {
    margin-top: 25px;

    font-size: 22px;
    color: $white;

    display: inline-block;
    padding: 18px 28px;
    width: 235px;

    border: 1px solid $white;
    border-radius: 5px;

    // ★ホバー時のアニメーション
    position: relative;
    overflow: hidden;

    transition: ease .2s;

    @include mq("md") {
        margin-top: 32px;
        font-size: 16px;
        padding: 19px 30px 19px 45px;
        width: 100%;
    }
}

.footer1__contact-button i {
    margin-right: 16px;
    font-size: 22px;
    @include mq("md") {
        margin-right: 10px;
        font-size: 16px;
    }
}

.footer1__contact-button:hover {
    opacity: 1;
}

// ★ホバー時のアニメーション
.footer1__contact-button span {
    position: relative;
    z-index: 3;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
    color: $white;
}

.footer1__contact-button:hover span {
    color:$navy;
    opacity: 1;
}

/*== 背景が流れる（左から右） */
.bgleft:before {
	content: '';

	/*絶対配置で位置を指定*/
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;

	/*色や形状*/
	background: $white;/*背景色*/
	width: 100%;
	height: 100%;

    opacity: 1;

	/*アニメーション*/
	transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
	transform: scale(0, 1);
	transform-origin: right top;
}

/*hoverした際の形状*/
.bgleft:hover:before{
	transform-origin:left top;
	transform:scale(1, 1);
}

.footer1__tel-button {
    margin-top: 20px;

    font-size: 22px;
    color: $white;

    display: inline-block;
    padding: 18px 28px;
    width: 235px;

    border: 1px solid $white;
    border-radius: 5px;

    @include mq("md") {
        font-size: 16px;
        padding: 19px 30px 19px 45px;
        width: 100%;
    }
}

.footer1__tel-button i {
    margin-right: 16px;
    font-size: 22px;
    @include mq("md") {
        margin-right: 10px;
        font-size: 16px;
    }
}

.footer1__tel-button:hover {
    opacity: 1;
}

.footer1__text2 {
    margin-top: 22px;

    font-size: 14px;
    color: $white;

    @include mq("md") {
        margin-top: 10px;
        font-size: 12px;
    }
}

// #endregion


//------------------------------
// #region Footer2

.footer2 {
    background-color: $navy03;
    padding: 63px 0 64px 0;
    @include mq("md") {
        padding: 62px 0 94px 0;
    }
}

.footer2__inner {
    max-width: 1265px;
    padding-left: 50px;
    padding-right: 50px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;

    @include mq("md") {
        flex-direction: column-reverse;
    }
}

.footer2__logo-wrapper-outer {
    margin-left: 30px;
    display: flex;
    align-items: center;
    @include mq("md") {
        margin-left: 0;
        margin-top: 62px;
    }
}

.footer2__logo-wrapper-inner {
    display: flex;
    align-items: center;

    position: relative;

    @include mq("md") {
        flex-direction: column;
    }
}

.footer2__img {
    width: 258px;
    @include mq("md") {
        width: 114px;
    }
}

.footer2__icons {
    margin-left: 46px;

    @include mq("md") {
        margin-top: 50px;
        margin-left: 0;
    }
}

.footer2__icon-list {
    display: flex;
    flex-direction: row;
}

.footer2__icon-item:not(:first-child) {
    margin-left: 20px;
}

.footer2__icon-item i {
    color: $white;
    font-size: 22px;
    @include mq("md") {
        // font-size: 20px;
    }
}

.footer2__copyright {
    display: block;

    font-family: $third-font;
    font-size: 12px;
    color: $white;

    position: absolute;
    margin-top: 230px;

    @include mq("md") {
        margin-top: 260px;
    }
}

.footer2__link-item:not(:first-child) {
    margin-top: 20px;
    @include mq("md") {
        margin-top: 24px;
    }
}

.footer2__link {
    font-family: $third-font;
    color: $white;
    @include mq("md") {
        font-size: 14px;
    }
}

// #endregion
